$rbx-black: #313332 !default;
$rbx-white: #fff !default;
$rbx-white-bg: #f5f5f5 !default;

$rbx-primary: #c3234a !default;
$rbx-secondary: #0195ff !default;
$rbx-success: #4bd28f !default;
$rbx-warning: #ffab02 !default;
$rbx-info: #92d3ff !default;
$rbx-danger: #ff4d4d !default;
